*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
body{
    width: 960px;
    background: grey;
     
}
.backmenu{
    display: block;
    background: white;
    width: 100px;
    height: 50px;
}
.header1{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
     
}



#name{
    float: left;
    background: #4aaaa5;
    color: white;
    padding: 15px;
}
#menu{
    float: right;
    color: rgb(130, 127, 127);
    padding: 15px;
    
    
}
.hmenu{
    display: inline;
    margin-left: 20px;
    text-decoration: none;
    color:#919090; 
}

.hmenu:hover{
    color:#4aaaa5;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

  .title{
      margin-top: 10px;
      color:#4aaaa5;

  }


